{% extends 'dashboard/base.html' %}

{% block title %}Summary{% endblock %}
{% block page_title %}Summary{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">Total Cost</h5>
                        <p class="card-text">${{ total_cost|floatformat:2 }}</p>
                    </div>
                    <div>
                        <i class="fas fa-dollar-sign fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">Instance Count</h5>
                        <p class="card-text">{{ instance_count }}</p>
                    </div>
                    <div>
                        <i class="fas fa-server fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
